#navContent {
    line-height: 40px;
    color: #0066ff;
}

#navContent div.navTitle {
    float: left;
    margin-left: 20px;
    font-size: 24px;
}

#navContent div.navbarWrapper{
    background: #ffC200;
    height: 40px;
    border-radius: 20px;
    width: 100%
}

#navContent ul {
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin-right: 20px;
}

#navContent li {
    display: inline-block;
    float: right;
}

#navContent a {
    color: #0066ff;
    text-decoration: none;
    height: 100%;
    display: block;
    width: 100%;
    margin: 0px 10px;
    text-align: center;
    border-right: 1px solid #0066ff;
}

#navContent li:first-child {
    padding-right: 10px;
}

#navContent li:first-child a {
    border-right: none
}

#navContent a:hover {
    background: #0066ff;
    color: #ffc200;
}
