div.modal-backdrop {
    opacity: 0.8;
}

img.thumbnail {
    margin: auto;
}

div.overlay {
    width: auto;
    height: auto;
    padding: 7px 14px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 2;
    font-size: 18px;
    color: #0399fd;
    border-bottom-right-radius: 9px;
    display: none;
}

div.modal-backdrop {
    display: none;
}

#fullscreenImageWrapper {
    display: none;
    z-index: 1040;
    position: fixed;
    top: 5%;
    height: 90%;
    width: 80%;
    left: 10%;
    border-style: solid;
    border-color: #3c3c3c;
}

#fullscreenImage {
    text-align: center;
    height: 100%;
    width: 75%;
}

#fullscreenImageWrapper img {
    max-height: 100%;
    max-width: 100%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#notificationTemplate {
    display: none;
}

#notificationArea div.alert {
   margin: 0px;
   padding: 6px 15px; 
}

span.albumTitle {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    max-width: 210px;
}

#fullscreenImage {
    float: left;
    background-color: black;
}

#fullscreenExifData {
    background-color: black;
    float: left;
    width: 25%;
    height: 100%;
    border-left-style: solid;
    border-left-color: #3c3c3c;
    text-align: center;
}